{% extends "base_generic.html" %}
{% block content %}
<ul class="sidebar-nav">
    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
    <li><a href="/admin">Administration</a></li>
</ul>
<p>Vous êtes connecté en tant que {{ request.user }}. </p>
<h1>Accueil de la bibliothèque locale</h1>
<h2>Contenu dynamique</h2>
<p>La bibliothèque dispose des enregistrements suivants:</p>
<ul>
<li><strong>Livres:</strong> {{ num_books }}</li>
<li><strong>Copies:</strong> {{ num_instances }}</li>
<li><strong>Copies disponibles:</strong> {{ num_instances_available }}</li>
<li><strong>Auteurs:</strong> {{ num_authors }}</li>
</ul>

<form id="searchform" action="search" method="get" accept-charset="utf-8">
    <button class="searchbutton" type="submit">
         <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
</form>

<p>{{book_items}}</p>



    
    

{% endblock %}